@use '../abstracts/mixins' as *;


.card-proyectos {
    position: relative;

    .stretched-link, .stretched-link a { 
        transform: none !important;
    }

    .wp-block-cover {
        .wp-block-post-terms {
            display: flex;
            gap: 0.25rem;
            justify-content: center;

            .wp-block-post-terms__prefix {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .wp-block-cover__background, .wp-block-cover__image-background{
            transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
        }
    }

    &:hover{
        .wp-block-cover {
            .wp-block-cover__background { 
                opacity: 0.5 !important;
                background-color: var(--wp--preset--color--primary-80);
            }
            .wp-block-cover__image-background {
                transform: scale(1.05) !important;
            }
        }
    }

}

.card-soluciones {
    position: relative;

    @media ($below-tablet) {
        aspect-ratio: auto !important;
    }

    .stretched-link { 
        transform: none !important;
    }

    .arrow-card {
        transition: transform .3s ease-in-out;
        --picto-shadow-color: var(--wp--preset--color--accent-10);
        svg path:nth-child(1) {
            fill: var(--picto-shadow-color) !important;
        }
    }

    .picto-ingenieria-forense {
        --picto-shadow-color: var(--wp--preset--color--accent-10);
        transition: filter .3s ease-in-out, transform .3s ease-in-out;
        filter: drop-shadow(0 38px 20px var(--picto-shadow-color));
    }

    &:hover {
        .picto-ingenieria-forense {
            filter: drop-shadow(0 68px 30px var(--picto-shadow-color));
            transform: translateY(-1rem); 
        }

        .arrow-card {
            transform: rotate(-45deg); 
        }
    }

    &.innovacion-tecnologica{
        .picto-ingenieria-forense, .arrow-card {
            --picto-shadow-color: var(--wp--preset--color--accent-20);
        }
    }

    &.desarrollo-producto {
        .picto-ingenieria-forense, .arrow-card {
            --picto-shadow-color: var(--wp--preset--color--accent-30);
        }
    }

    .wp-block-cover__inner-container {
        height: 100%;
    }

    .wp-block-smn-parent-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:before {
            content: url(./assets/icons/star-ingenieria-forense.svg);
            width: 1rem;
            height: 1.2rem;
        }

        &#parent-title-desarrollo-de-producto:before,
        &#parent-title-product-development:before {
            content: url(./assets/icons/star-desarrollo-producto.svg);
        }

        &#parent-title-innovacion-tecnologica:before,
        &#parent-title-technological-innovation:before {
            content: url(./assets/icons/star-innovacion-materiales.svg);
        }
    }

    .innovacion-tecnologica &  {
        .arrow-card svg path:nth-child(1) {
            fill: var(--wp--preset--color--accent-20) !important;
        }
        
    }

    .desarrollo-de-producto &  {
        .arrow-card svg path:nth-child(1) {
            fill: var(--wp--preset--color--accent-30) !important;
        }
        
    }
    
}


.card-proyectos, .card-ensayos {
    .smn-post-term-name--ingenieria-forense,
    .smn-post-term-name--forensic-engineering,
    .smn-post-term-name--innovacion-tecnologica,
    .smn-post-term-name--technological-innovation,
    .smn-post-term-name--desarrollo-de-producto,
    .smn-post-term-name--product-development {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:before {
            content: url('./assets/icons/star-ingenieria-forense.svg');
            width: 1rem;
            height: 1.2rem;

        }
    }

    .smn-post-term-name--desarrollo-de-producto:before,
    .smn-post-term-name--product-development:before {
        content: url('./assets/icons/star-desarrollo-producto.svg');
    }

    .smn-post-term-name--innovacion-tecnologica:before,
    .smn-post-term-name--technological-innovation:before {
        content: url('./assets/icons/star-innovacion-materiales.svg');
    }
}




