ol.has-background, ul.has-background {
    padding: 0;
}

ul.is-style-separator-list,
ul.is-style-arrow-separator-list,
ul.is-style-arrow-mini-separator-list,
ul.is-style-check-separator-list { 
	
    padding: 0;
    list-style: none;

    li {
        border-bottom: 1px dashed var(--wp--preset--color--primary-30);
		padding: var(--wp--preset--spacing--10) 0;

		&:has(a) {
			&:hover:before {
                //cursor: pointer;
                //left: 0.33rem;
            }
		}

        a {
            text-decoration: none;
            width: 100%;
            transition: padding-left .2s ease-in;
        }
    }
}


ul.is-style-arrow-list,
ul.is-style-check-list,
ul.is-style-arrow-separator-list,
ul.is-style-arrow-mini-separator-list,
ul.is-style-check-separator-list,
ul.destacado {
	list-style: none;
	position: relative;
	padding: 0;

	li {
		position: relative; 
		padding: 0 0 var(--wp--preset--spacing--10) var(--wp--preset--spacing--30);

		img {
			margin: 0 var(--wp--preset--spacing--10);
		}
	}

	li:before{
		
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		background-color: var(--wp--preset--color--accent-10);
		mask-image: url("assets/icons/arrow-list.svg");
		mask-size: cover;
		mask-repeat: no-repeat;
		transition: left 0.3s ease-in-out;
		background-position: center top;
		
	}

	a {
		transition: padding-left 0.3s ease;
        text-decoration: none;
	}

	
}

ul.is-style-arrow-separator-list,
ul.destacado {
    li {
        padding: var(--wp--preset--spacing--10) 0 var(--wp--preset--spacing--10) var(--wp--preset--spacing--30);
        &::before {
            top: calc(var(--wp--preset--spacing--10) + 0px);
        }
    }
}


ul.is-style-check-separator-list,
ul.is-style-check-list {

	li {
		padding: 0 0 var(--wp--preset--spacing--10) var(--wp--preset--spacing--30);
	}

	li:before{
		mask-image: url("assets/icons/check.svg");
		background-color: var(--wp--preset--color--primary);
		top: auto;
		left: 0;
	}
}