@use '../abstracts/mixins' as *;

.wp-block-media-text {

    .wp-block-media-text__content {
        padding: 0 0 0 var(--wp--custom--layout--gap-large);
    }
    
    &.has-media-on-the-right {

        .wp-block-media-text__content {
            padding: 0 var(--wp--custom--layout--gap-large) 0 0;
        }
    }

    .wp-block-media-text__media {
        border-radius: var(--wp--preset--border-radius--1-5);
        overflow: hidden;
        margin-top: 1rem;
    }
}

.wp-block-image img[style*="object-fit: cover"] {
    width: 100%;
}