@use '../abstracts/mixins' as *;

.wp-block-query {
    .wp-block-post {
        a {
            text-decoration: none;
            overflow: hidden;
            
            img.wp-post-image {    
                transition: transform 1s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .columns-3.wp-block-post-template {
        
        @media ($below-tablet) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }   
    }

}



.is-style-is-related-posts .taxonomy-category.has-heading-4-font-size > a {
    color: initial;
    text-decoration: none;
}

