@use '../abstracts/mixins' as *;


.blog #toc_container {
    display: none !important;
}

.single-casosdeexito .entry-content.is-layout-constrained,
.single-ensayo .entry-content.is-layout-constrained,
.single-tecnologia .entry-content.is-layout-constrained,
.single-post .entry-content.is-layout-constrained {

    & > :where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
        max-width: 60rem;
    }

    & > figure.wp-block-image {
        max-width: 64rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        img {
            border-radius: var(--wp--custom--border-radius--1);
        }
    }

}

.navigation.post-navigation {

    margin-top: var(--wp--preset--spacing--40);
    margin-bottom: var(--wp--preset--spacing--40);
    border-top: 1px solid var(--wp--preset--color--neutral-30);
    padding-top: var(--wp--preset--spacing--40);
    padding-bottom: var(--wp--preset--spacing--40);
    border-bottom: 1px solid var(--wp--preset--color--neutral-30);

    .nav-links {
        display: flex;
        justify-content: space-between;
        gap: var(--wp--custom--layout--gap);
        margin-top: var(--wp--preset--spacing--40);

        @media ($below-tablet) {
            flex-direction: column;
        }

        .nav-next {
            text-align: right;

            @media ($below-tablet) {
                text-align: left;
            }
        }
    }
}