.wp-block-post-title a {
	text-decoration: none;
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--headings);
    font-family: var(--wp--preset--font-family--font-heading);
}

.has-heading-6-font-size {
    font-weight: 700;
}


.entry-content-OFF p:not(.toc_title) {

    a {
        position: relative;
    }

    a::before {
        content: '';
        background-color:var(--wp--preset--color--accent);
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 6px;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    a:hover::before {
        bottom: 0;
        height: 100%;
    }
}

.entry-content p:not(.toc_title), .entry-content li:not(.toc_title) > {

    a {
        color: inherit;
        text-decoration: none;
        background-image: linear-gradient(var(--wp--preset--color--accent), var(--wp--preset--color--accent));
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 100% 6px;
        transition: background-size 300ms ease-in-out;
    }

    a:hover,
    a:focus {
        background-size: 100% 100%;
    }
}


