.wp-block-post-title a {
	text-decoration: none;
}

[class*="has-heading-"][class*="-font-size"] {
    line-height: var(--wp--custom--line-height--headings);
    font-family: var(--wp--preset--font-family--font-heading);
}

.has-heading-6-font-size {
    font-weight: 700;
}


.entry-content p:not(.toc_title), .entry-content li:not(.wp-block-post) > {

    a {
        color: inherit;
        text-decoration: none;
        background-image: linear-gradient(var(--wp--preset--color--accent), var(--wp--preset--color--accent));
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 100% 6px;
        transition: background-size 300ms ease-in-out;
    }

    a:hover,
    a:focus {
        background-size: 100% 100%;
    }
}


